<div class="row set-margin">
  <div class="col-lg-10"></div>
  <div class="col-lg-2">
    <button
      mat-button
      mat-dialog-close
      style="background-color: #242437; color: white"
      (click)="uploadMethod()"
    >
      <div *ngIf="upload === 'xlsx'; else fail">Upload Excel</div>
      <ng-template #fail>
        <div>Upload Image</div>
      </ng-template>
    </button>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>File Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
